# Keep development files out of Composer dist archives.
/.ddev export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.php-cs-fixer.dist.php export-ignore
/Build export-ignore
/Tests export-ignore
/phpstan.neon export-ignore
/rector.php export-ignore
