includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpat/phpat/extension.neon
    - vendor/saschaegerer/phpstan-typo3/extension.neon

parameters:
    level: 8
    phpVersion: 80400
    stubFiles:
        - Build/PhpStan/DatabaseRecordList.stub
    paths:
        - Classes
        - Configuration
        - Tests
        - ext_localconf.php
    treatPhpDocTypesAsCertain: false
    typo3:
        requestGetAttributeMapping:
            pageContext: TYPO3\CMS\Backend\Context\PageContext
            moduleData: TYPO3\CMS\Backend\Module\ModuleData
            route: TYPO3\CMS\Backend\Routing\Route
