<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment>
    One record row of the compact view, marked up like a list view row so
    Core's scripts (visibility toggle, selection, edit multiple) work on it.

    Arguments: record, table
</f:comment>

<tr class="t3js-entity rlt-row{f:if(condition: record.hidden, then: ' rlt-row--hidden')}"
    data-table="{record.tableName}"
    data-uid="{record.uid}"
    {f:if(condition: table.multiSelectEnabled, then: 'data-multi-record-selection-element="true"')}>
    <f:if condition="{table.multiSelectEnabled}">
        <td class="col-checkbox"><f:render partial="Record/Checkbox" arguments="{record: record}" /></td>
    </f:if>
    <td class="col-icon"><f:render partial="Record/Icon" arguments="{record: record}" /></td>
    <f:for each="{table.sortableColumnHeaders}" as="header">
        <f:switch expression="{header.type}">
            <f:case value="uid">
                <td class="col-uid">{record.uid}</td>
            </f:case>
            <f:case value="title">
                <td class="col-title col-responsive">
                    <f:render partial="Record/Title" arguments="{record: record}" />
                    <f:render partial="Record/States" arguments="{record: record}" />
                </td>
                <td class="col-control"><f:render partial="Record/Controls" arguments="{record: record}" /></td>
                <f:if condition="{table.isLanguageAware}">
                    <td class="col-localization">
                        <f:if condition="{record.languageFlagIdentifier}">
                            <core:icon identifier="{record.languageFlagIdentifier}" size="small" />
                        </f:if>
                        {record.languageTitle}
                    </td>
                </f:if>
            </f:case>
            <f:defaultCase>
                <f:variable name="fieldData" value="{record.displayValues.{header.field}}" />
                <td class="col-{header.type}" data-field="{header.field}">
                    <f:if condition="{fieldData}">
                        <f:render partial="Record/FieldValue" arguments="{fieldData: fieldData}" />
                    </f:if>
                </td>
            </f:defaultCase>
        </f:switch>
    </f:for>
</tr>

</html>
