<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="recordlist-empty">
    <core:icon identifier="actions-info" size="medium" />
    <p class="recordlist-empty__message">{table.emptyState.message}</p>
    <f:if condition="{table.emptyState.resetUrl}">
        <a class="btn btn-default btn-sm" href="{table.emptyState.resetUrl}#t3-table-{table.tableName}">
            <core:icon identifier="actions-close" size="small" />
            {table.emptyState.resetLabel}
        </a>
    </f:if>
</div>

</html>
