<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment>
    Filter panel of a table (text, yes/no, select, category and date range
    filters), shown above the records in every view, the list view included.

    Arguments: filters (see RecordFilterViewDataFactory)
</f:comment>

<f:if condition="{filters.visible}">
    <section class="recordlist-filters-block" aria-labelledby="recordlist-filters-title-{filters.tableName}">
        <h2 class="recordlist-filters-block__title" id="recordlist-filters-title-{filters.tableName}">
            <core:icon identifier="actions-filter" size="small" />
            <f:translate key="records_list_types.messages:filter.title" />
        </h2>

        <f:for each="{filters.warnings}" as="warning">
            <div class="recordlist-filters__warnings">
                <f:be.infobox state="1">{warning}</f:be.infobox>
            </div>
        </f:for>

        <f:if condition="{filters.items}">
            <form class="recordlist-filters" method="post" action="{filters.formActionUrl}#t3-table-{filters.tableName}">
                <f:for each="{filters.hiddenFields}" as="hiddenField">
                    <input type="hidden" name="{hiddenField.name}" value="{hiddenField.value}" />
                </f:for>

                <div class="recordlist-filters__grid">
                    <f:for each="{filters.items}" as="filter">
                        <f:variable name="inputId" value="record-filter-{filters.tableName}-{filter.id}" />
                        <div class="recordlist-filters__field recordlist-filters__field--{filter.type}">
                            <label class="form-label" for="{inputId}">{filter.label}</label>
                            <f:switch expression="{filter.type}">
                                <f:case value="text">
                                    <input id="{inputId}"
                                           class="form-control form-control-sm"
                                           type="search"
                                           name="recordFilters[{filters.tableName}][{filter.id}]"
                                           value="{filter.value}"
                                           placeholder="{filter.placeholder}"
                                           {f:if(condition: filter.fieldList, then: 'aria-describedby="{inputId}-fields"')} />
                                    <f:if condition="{filter.fieldList}">
                                        <span class="form-text recordlist-filters__fields" id="{inputId}-fields">
                                            <f:translate key="records_list_types.messages:filter.searchedFields" arguments="{fields: filter.fieldList}" />
                                        </span>
                                    </f:if>
                                </f:case>
                                <f:case value="dateRange">
                                    <div class="recordlist-filters__range">
                                        <input id="{inputId}"
                                               class="form-control form-control-sm"
                                               type="date"
                                               name="recordFilters[{filters.tableName}][{filter.id}][from]"
                                               value="{filter.fromValue}"
                                               aria-label="{f:translate(key: 'records_list_types.messages:filter.range.from', arguments: {label: filter.label})}" />
                                        <input class="form-control form-control-sm"
                                               type="date"
                                               name="recordFilters[{filters.tableName}][{filter.id}][to]"
                                               value="{filter.toValue}"
                                               aria-label="{f:translate(key: 'records_list_types.messages:filter.range.to', arguments: {label: filter.label})}" />
                                    </div>
                                </f:case>
                                <f:defaultCase>
                                    <f:comment>boolean, select and category filters</f:comment>
                                    <select id="{inputId}"
                                            class="form-select form-select-sm"
                                            name="recordFilters[{filters.tableName}][{filter.id}]">
                                        <f:for each="{filter.options}" as="option">
                                            <f:if condition="{filter.value} == {option.value}">
                                                <f:then><option value="{option.value}" selected="selected">{option.label}</option></f:then>
                                                <f:else><option value="{option.value}">{option.label}</option></f:else>
                                            </f:if>
                                        </f:for>
                                    </select>
                                </f:defaultCase>
                            </f:switch>
                        </div>
                    </f:for>
                </div>

                <div class="recordlist-filters__actions">
                    <button class="btn btn-sm btn-primary" type="submit">
                        <core:icon identifier="actions-filter" size="small" />
                        <f:translate key="records_list_types.messages:filter.apply" />
                    </button>
                    <a class="btn btn-sm btn-default" href="{filters.resetUrl}#t3-table-{filters.tableName}">
                        <core:icon identifier="actions-close" size="small" />
                        <f:translate key="records_list_types.messages:filter.reset" />
                    </a>
                </div>
            </form>
        </f:if>
    </section>
</f:if>

</html>
