<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{sortingDropdown}">
    <button type="button" class="btn btn-default btn-sm gridview-sorting-toggle__btn gridview-sorting-toggle__btn--active dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <core:icon identifier="actions-filter" size="small" />
        <span class="gridview-sorting-toggle__text">{sortingDropdown.fieldModeLabel}</span>
        <span class="gridview-sorting-toggle__value">
            <core:icon identifier="{sortingDropdown.sortIconIdentifier}" size="small" />
            <span>{sortingDropdown.currentFieldLabel}</span>
        </span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item{f:if(condition: sortingDropdown.isAscActive, then: ' active')}" href="{sortingDropdown.ascUrl}">
                <core:icon identifier="actions-sort-amount-up" size="small" /> {sortingDropdown.ascLabel}
            </a>
        </li>
        <li>
            <a class="dropdown-item{f:if(condition: sortingDropdown.isDescActive, then: ' active')}" href="{sortingDropdown.descUrl}">
                <core:icon identifier="actions-sort-amount-down" size="small" /> {sortingDropdown.descLabel}
            </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <f:for each="{sortingDropdown.items}" as="item">
            <li>
                <a class="dropdown-item{f:if(condition: item.isActive, then: ' active')}" href="{item.url}">
                    {item.label}
                </a>
            </li>
        </f:for>
    </ul>
</f:if>

</html>
