<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment>
    Table title and record count, linked like in the list view to the
    single-table view and back. The link keeps its visible text in the
    accessible name and adds what it does.

    Arguments: heading {label, recordCount, linkUrl, linkTitle, iconIdentifier}
</f:comment>

<f:if condition="{heading.linkUrl}">
    <f:then>
        <a href="{heading.linkUrl}" title="{heading.linkTitle}">
            {heading.label} (<span>{heading.recordCount}</span>)
            <core:icon identifier="{heading.iconIdentifier}" size="small" />
            <span class="visually-hidden">{heading.linkTitle}</span>
        </a>
    </f:then>
    <f:else>
        {heading.label} (<span>{heading.recordCount}</span>)
    </f:else>
</f:if>

</html>
