<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment>
    Teaser card: title, the date fields of record.displayValues, the first
    text field as teaser, Core's controls and the translations.

    Arguments: record, tableIdentifier, multiSelectEnabled
</f:comment>

<f:variable name="titleId" value="rlt-title-{tableIdentifier}-{record.uid}" />
<article class="card rlt-teaser{f:if(condition: record.hidden, then: ' rlt-teaser--hidden')}{f:if(condition: record.isDeletePlaceholder, then: ' rlt-teaser--deleted')}"
         aria-labelledby="{titleId}"
         data-table="{record.tableName}"
         data-uid="{record.uid}"
         data-record-title="{record.title}">
    <div class="card-body rlt-teaser-body">
        <div class="rlt-teaser-lead">
            <f:if condition="{multiSelectEnabled}">
                <f:render partial="Record/Checkbox" arguments="{record: record}" />
            </f:if>
            <span class="rlt-record-icon"><f:render partial="Record/Icon" arguments="{record: record}" /></span>
        </div>
        <div class="rlt-teaser-main">
            <h2 class="card-title rlt-teaser-title" id="{titleId}">
                <f:render partial="Record/Title" arguments="{record: record}" />
            </h2>
            <p class="rlt-meta">
                <f:for each="{record.displayValues}" as="fieldData">
                    <f:if condition="{fieldData.type} == 'datetime' && {fieldData.formatted}">
                        <span class="rlt-meta-date" title="{fieldData.label}">
                            <core:icon identifier="actions-calendar" size="small" />
                            {fieldData.formatted}
                        </span>
                    </f:if>
                </f:for>
                <span class="rlt-meta-id">
                    <f:translate key="records_list_types.messages:record.idLabel" />
                    {record.uid}
                </span>
                <f:if condition="{record.languageFlagIdentifier}">
                    <span class="rlt-meta-language">
                        <core:icon identifier="{record.languageFlagIdentifier}" size="small" />
                        {record.languageTitle}
                    </span>
                </f:if>
                <span class="rlt-badges"><f:render partial="Record/States" arguments="{record: record}" /></span>
            </p>
            <f:variable name="teaserShown" value="0" />
            <f:for each="{record.displayValues}" as="fieldData">
                <f:if condition="!{teaserShown} && {fieldData.type} == 'text' && !{fieldData.isLabelField} && {fieldData.formatted}">
                    <p class="card-text rlt-teaser-text">{fieldData.formatted}</p>
                    <f:variable name="teaserShown" value="1" />
                </f:if>
            </f:for>
        </div>
        <div class="rlt-teaser-controls">
            <f:render partial="Record/Controls" arguments="{record: record}" />
        </div>
    </div>
    <f:if condition="{record.translations}">
        <f:render partial="TranslationStrip" arguments="{record: record}" />
    </f:if>
</article>

</html>
