<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment>
    One translation slot below its record in the compact view: an existing
    translation is a full row, indented like in the list view, with its own
    controls; a missing one offers Core's localization wizard.

    Arguments: record (the default-language record), translation, table
</f:comment>

<f:if condition="{translation.state} == 'translated'">
    <f:then>
        <tr class="t3js-entity rlt-row rlt-row--translation{f:if(condition: translation.hidden, then: ' rlt-row--hidden')}"
            data-table="{record.tableName}"
            data-uid="{translation.uid}"
            data-l10nparent="{record.uid}">
            <f:if condition="{table.multiSelectEnabled}"><td class="col-checkbox"></td></f:if>
            <td class="col-icon">
                <span class="indent indent-inline-block" style="--indent-level: 1"></span>
                <f:render partial="Record/Icon" arguments="{record: translation}" />
            </td>
            <f:for each="{table.sortableColumnHeaders}" as="header">
                <f:switch expression="{header.type}">
                    <f:case value="uid">
                        <td class="col-uid">{translation.uid}</td>
                    </f:case>
                    <f:case value="title">
                        <td class="col-title col-responsive">
                            <f:render partial="Record/Title" arguments="{record: translation}" />
                            <f:render partial="Record/States" arguments="{record: translation}" />
                        </td>
                        <td class="col-control"><f:render partial="Record/Controls" arguments="{record: translation}" /></td>
                        <td class="col-localization">
                            <core:icon identifier="{translation.languageFlagIdentifier}" size="small" />
                            {translation.languageTitle}
                        </td>
                    </f:case>
                    <f:defaultCase>
                        <f:variable name="fieldData" value="{translation.displayValues.{header.field}}" />
                        <td class="col-{header.type}" data-field="{header.field}">
                            <f:if condition="{fieldData}">
                                <f:render partial="Record/FieldValue" arguments="{fieldData: fieldData}" />
                            </f:if>
                        </td>
                    </f:defaultCase>
                </f:switch>
            </f:for>
        </tr>
    </f:then>
    <f:else>
        <tr class="rlt-row rlt-row--translation rlt-row--missing"
            data-table="{record.tableName}"
            data-l10nparent="{record.uid}"
            data-language-id="{translation.languageId}">
            <f:if condition="{table.multiSelectEnabled}"><td class="col-checkbox"></td></f:if>
            <td class="col-icon">
                <span class="indent indent-inline-block" style="--indent-level: 1"></span>
                <core:icon identifier="{translation.languageFlagIdentifier}" size="small" />
            </td>
            <f:for each="{table.sortableColumnHeaders}" as="header">
                <f:switch expression="{header.type}">
                    <f:case value="uid">
                        <td class="col-uid"></td>
                    </f:case>
                    <f:case value="title">
                        <td class="col-title col-responsive">
                            <span class="rlt-value-empty"><f:translate key="records_list_types.messages:translation.untranslated" /></span>
                        </td>
                        <td class="col-control">
                            <f:if condition="{translation.permissions.canLocalize}">
                                <typo3-backend-localization-button
                                    class="btn btn-default"
                                    record-type="{translation.parentTable}"
                                    record-uid="{translation.parentUid}"
                                    target-language="{translation.languageId}"
                                    title="{f:translate(key: 'records_list_types.messages:translation.translateTo', arguments: {language: translation.languageTitle})}">
                                    <core:icon identifier="actions-localize" size="small" />
                                    <span class="visually-hidden"><f:translate key="records_list_types.messages:translation.translateTo" arguments="{language: translation.languageTitle}" /></span>
                                </typo3-backend-localization-button>
                            </f:if>
                        </td>
                        <td class="col-localization">
                            <core:icon identifier="{translation.languageFlagIdentifier}" size="small" />
                            {translation.languageTitle}
                        </td>
                    </f:case>
                    <f:defaultCase>
                        <td class="col-{header.type}"></td>
                    </f:defaultCase>
                </f:switch>
            </f:for>
        </tr>
    </f:else>
</f:if>

</html>
