<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment>
    Grid view: one card per record, framed like a table of the list view.
    In manual sorting mode cards can be dragged, moved with the keyboard
    from their handle, or moved with Core's "Move up" and "Move down".
</f:comment>

<records-list-types-actions class="rlt-view rlt-view--grid">
<div class="recordlist-gridview-container">
    <f:for each="{tableData}" as="table">
        <f:render partial="Table/Section" arguments="{table: table, currentTable: currentTable, sortingControls: 1}" contentAs="body">
            <f:variable name="instructionsId" value="rlt-drag-help-{table.tableIdentifier}" />
            <f:if condition="{table.multiSelectEnabled} || {table.hasThumbnails}">
                <div class="rlt-toolbar">
                    <f:if condition="{table.multiSelectEnabled}">
                        <f:render partial="Table/SelectionToggle" arguments="{id: 'rlt-selection-{table.tableIdentifier}'}" />
                    </f:if>
                    <f:if condition="{table.hasThumbnails}">
                        <p class="rlt-hint">
                            <core:icon identifier="actions-info" size="small" />
                            <f:translate key="records_list_types.messages:image.previewOnly" />
                        </p>
                    </f:if>
                </div>
            </f:if>
            <f:if condition="{table.canReorder}">
                <p class="visually-hidden" id="{instructionsId}"><f:translate key="records_list_types.messages:drag.instructions" /></p>
            </f:if>
            <f:if condition="{table.canReorder}">
                <f:then><f:variable name="listLabel" value="{f:translate(key: 'records_list_types.messages:a11y.reorderableList', arguments: {table: table.tableLabel})}" /></f:then>
                <f:else><f:variable name="listLabel" value="{table.tableLabel}" /></f:else>
            </f:if>
            <ul class="rlt-cards{f:if(condition: table.hasThumbnails, then: ' rlt-cards--media')}"
                aria-label="{listLabel}"
                data-table="{table.tableName}"
                data-can-reorder="{f:if(condition: table.canReorder, then: '1', else: '0')}"
                data-page-id="{pageId}"
                data-sort-direction="{table.sortDirection}">
                <f:for each="{table.records}" as="record">
                    <li class="rlt-cards-item"
                        data-uid="{record.uid}"
                        {f:if(condition: table.multiSelectEnabled, then: 'data-multi-record-selection-element="true"')}>
                        <f:render partial="Card" arguments="{record: record, pageId: pageId, tableIdentifier: table.tableIdentifier, canReorder: table.canReorder, multiSelectEnabled: table.multiSelectEnabled, instructionsId: instructionsId}" />
                    </li>
                </f:for>
            </ul>
            <f:if condition="{table.canReorder}">
                <div class="rlt-dropzone" data-rlt-dropzone data-table="{table.tableName}" hidden>
                    <f:translate key="records_list_types.messages:drag.dropHere" />
                </div>
            </f:if>
        </f:render>
    </f:for>
</div>
</records-list-types-actions>

</html>
