<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment>
    Teaser view: one wide card per record with title, dates and the teaser
    text, for news, blog posts, events and similar records.
</f:comment>

<records-list-types-actions class="rlt-view rlt-view--teaser">
<div class="recordlist-teaserview-container">
    <f:for each="{tableData}" as="table">
        <f:render partial="Table/Section" arguments="{table: table, currentTable: currentTable, sortingControls: 1}" contentAs="body">
            <f:if condition="{table.multiSelectEnabled}">
                <div class="rlt-toolbar"><f:render partial="Table/SelectionToggle" arguments="{id: 'rlt-selection-{table.tableIdentifier}'}" /></div>
            </f:if>
            <ul class="rlt-teasers" aria-label="{table.tableLabel}">
                <f:for each="{table.records}" as="record">
                    <li class="rlt-teasers-item"
                        data-uid="{record.uid}"
                        {f:if(condition: table.multiSelectEnabled, then: 'data-multi-record-selection-element="true"')}>
                        <f:render partial="TeaserCard" arguments="{record: record, tableIdentifier: table.tableIdentifier, multiSelectEnabled: table.multiSelectEnabled}" />
                    </li>
                </f:for>
            </ul>
        </f:render>
    </f:for>
</div>
</records-list-types-actions>

</html>
